/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: 900;
}

h1 {
    color: goldenrod;
    font-size: 48px;
}

#message-el {
    font-style: italic;
    
    
}

button {
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    padding: 10px 0px;
    font-weight: bold;
    border: none;
    border-radius: 2px;

}
